body {
    overflow-x: hidden;
}


.menu ul{
	text-align: center;
}

.menu ul li{
	display: inline;
	margin: 0 40px;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}

.menu {
  height: 130px;
  position: fixed;
  top: 0;
  opacity: 0.95;
  width: 100%;
  z-index: 10;
  background-color: #4f235c;
}
input[type=pesquisa] {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 0px 20px 0px 40px;
  border-radius: 40px;
  outline: none;
  border: solid gray 2px;
  background: '#000000' 7px center no-repeat;
}
.search{
  position: relative;
  right: 10px;
  color: #979899;
  font-weight: 400;
  font-size: 14px;
  left: 397px;
  top: 15px;
}
#logo{
  position: relative;
  top: 16px;
  left: 467px;
}
.img-logo {
  width: 167px;
  position: relative;
  bottom: 96px;
  left: 150px;
}

.img {
  width: 100%;
}

ul {
  position: relative;
  left: 100px;
  bottom: 94px;
}

li {
  display: inline;
  position: relative;
  right: 164px;
  bottom: 35px;
}

.card, .card1, .card2, .card3, .card4, .card5, .card6 {
    position: relative;
    width: 209px;
    height: 184px;
    border-radius: 20px;
    float: left;
    margin-right: 20px; 
    left: 245px;
    top:88px;
    background: #4f235c;

}
.todes-abaixo{
    position: relative;
    float: left;
    top: 28px;
    left: 90px;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    text-align: center;
    position: relative;
    top: 60px;
    color: #d3d800;
    font-family: Uni Neue,sans-serif;
    font-weight: 700;
    font-size: 13px;
}
a{
    position: relative;
    left: 71px;
    top: 50px;
    color:white;
    font-style: normal;
    font-weight: 400;
    font-family: Uni Neue,sans-serif;
    font-size: 15px;
}
.img-linha{
    width: 83px;
    position: relative;
    bottom: 38px;
    left: 10px;
}
.company{
    position: relative;
    top: 550px;
    right: 280px;
}
.title{
    font-family: Uni Neue,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;  
    position: relative;
    right: 202px;
    text-align: center;
    color: #4f235c;
}
.img-linha-dif{
    width: 100px;
    position: relative;
    bottom: 123px;
    right: 11px;
}
.img-linha-out{
    width: 60px;
    position: relative;
    bottom: 71px;
    left: 82px;
}
.dif{
    font-family: Uni Neue,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
.about{
    position: relative;
    top: 218px;
    float: left;
    color: #666;
    margin: 39px;
    padding: 19px;
    text-align: left;
    font-family: Uni Neue,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.imgs{
    position: relative;
    left: 580px;
    bottom: 149px;
}
.location{
    position: relative;
    bottom: 22px;
}


.cad{
  font-size: 24px;
  font-weight: bolder;
  font-family: arial;
  color: #D3D800;


  position: relative;
  right: 876px;
  top: 30px;
}
.registro{
  position: relative;
  right: 3px;
  top: 1237px;
  height: 100px;
  background: #4F235C;
  border-radius: 30px 10px 10px 10px;
}
.nov{
  font-weight: bolder;
  font-family: arial;
  color: #D3D800;
  font-size: 12px;

  position: relative;
  bottom: 55px;
  right: 729px;
  bottom: 30px;
}
.email{
  font-weight: bolder;
  font-family: arial;
  color: #D3D800;
  font-size: 12px;

  position: relative; 
  right: 500px;
  bottom: 30px;
}

input[type=name]{
  width: 223px;
  height: 44px;
  font-size: 16px;
  padding: 0px 20px 0px 40px;
  border-radius: 40px;
  outline: none;
  position: relative;
  border: solid gray 2px;
}
.name{
  text-align: center;
  position: relative;
  top: 34px;
  right: 440px;
}

input[type=email] {
  width: 311px;
  height: 45px;
  font-size: 16px;
  padding: 0px 20px 0px 40px;
  border-radius: 40px;
  outline: none;
  border: solid gray 2px;
  background: '#000000' 7px center no-repeat;
}
.emailr{
  text-align: center;
  position: relative;
  bottom: 28px;
  right: 142px;
}
#emailre{
  position: relative;
  top: 16px;
  left: 377px;
}
.reg{
  position: relative;
  left: 113px;
}
.duplinha{
  position: relative;
  bottom: 119px;
}


.rodape{
  position: relative;
  top: 2035px;
  right: 777px;
}

.img-rodape-div{
  position: relative;
  right: 52px;
  bottom: 368px;
}
.atendi{
  position: relative;
  right: 185px;
  bottom: 758px;
  width: 0px;
}
.poli{
  position: relative;
  right: -77px;
  bottom: 1017px;
  width: 0px;
}
.insti{
  position: relative;
  left: 316px;
  bottom: 1277px;
  width: 0px;
}
.div{
  position: relative;
  bottom: 803px;
  right: 221px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.div-poli{
  position: relative;
  bottom: 1067px;
  left: 11px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.div-insti{
  position: relative;
  bottom: 1327px;
  left: 307px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.img-rodape{
  left: 897px;
  bottom: 1039px;
  position: relative;
}
.img-rodape-redesocial{
  position: relative;
  left: 1375px;
  bottom: 993px;
}